body{
    background-image: url("https://conteudo.imguol.com.br/c/entretenimento/e2/2020/04/13/pocoyo-virou-embaixador-do-isolamento-social-no-brasil-1586794881482_v2_1080x608.jpg");
    background-size: auto 100vh;
    font-family: fantasy;
  }
  
  .menu{
    background-color: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    font-size: 30px;
    color: blue;
  }
  a:hover{
    text-decoration:underline;
  }
  .site-title, .site-subtitle{
    text-align: center;
    font-size: 150px;
    text-shadow: 9px 10px black;
    color: blue;
  }
  